/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.wrapper {
    width: 100%;
    height: calc(100vh - 70px);
    padding: 4rem 2rem 1rem 2rem;
    display: flex;
    background-color: black;  
    position: relative;
}

 .row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: .2rem;
    /* debug */
    /* border: 1px solid black; */
  
}

.col {
    width: calc(95% / 7 - 1.2rem / 7);
    /* debug */
    /* border: 1px solid black; */
}

.card {
    position: relative;
}

.card-img {
    position: relative;
}


.name {
    position: absolute;
    display: inline-block;
    bottom: 4px;
    left: 0;
    width: 80px;
    height: 17px;
    background-color: rgba(97, 110, 121, 0.8);
    color: white;
    text-align: center;
    font-size: .8rem;
    
}

footer {
    height: 70px;
    background-color: #222222;
    position: relative;
    z-index: 999;
    display: flex;
}

.mic-cam
{
    padding: 1rem;
    font-size: 1.5rem;
    display: flex;
    vertical-align: 70px;
    gap: 1rem;
}

.angle-up {
    font-size: .7rem;
}

.actions {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    font-size: 1.5rem;
    vertical-align: 70px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    gap: 1rem;

    
}